



/*.header{
    height: 120px;
    display: flex;
    align-items: center;
    background-color: #0099FF;
    position: sticky;
    top: 0;
    z-index: 100;
    padding-left: 30px;
}

.subheader{
    color: white;
    flex-flow: row;
    font-size: 17px;
}

.healthease, .tab, .header__optionelineOne,  .header__optionlineTwo{
    color: #FFF;
}
.header__nav{
    width: 55%;
    padding-left: 20%;
    display: flex;
    justify-self: flex-end;
    justify-content: space-evenly;
}

.header__nav > .tab{
    font-display: white;

    padding-right: 1.5%;
}

.header__option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

.header__optionlineTwo{
    padding-left: 15%;
}

h4{
    font-weight: 400;
}*/
